body {
	background-color: #243119;
}
h1, h2, p, ol,ul {
	text-align: center;
}
p{
	font-size: 25px;
	text-indent: 50px;
	color: #C9F2C7;
}

#taco {
	border-style: solid;
	border-width: thick;
	text-align: center;
	width: 1000px;
	height: 500px;
}
img {
	border-style: solid;
	border-width: thick;
	text-align: center;
}
h1{
	color: #ACECA1;
}
ol{
	color: #629460;
	font-size: 25px;
	text-indent: 50px;
}
h2{
	color: #96BE8C;
}
#coverPage{
	background:#BBD3B5;
}
#cookieBack, #milkBack, #tacoBack,#sushiBack {
	background:#BBD3B5;
}